/* dark-mode.css */

/* Estilos gerais para o Modo Escuro */
.dark-mode {
  background-color: #000;
  color: #fff;
}

.dark-mode header {
  background-color: #182a3b;
}

.dark-mode h1 {
  color: #4f697e;
}

/*pagina login*/
.dark-mode #divLogin.container {
  background-color: #07131c;
  color: #e4e3e3;
}

.dark-mode #enviarButton,
.dark-mode #cadastrarButton,
.dark-mode #registrarbotao {
  background-color: #96354b;
}

.dark-mode form.divForm {
  background-color: #182a3b;
}

/*pagina home*/

.dark-mode .login-button {
  background-color: #4f697e;
}

.dark-mode .register-button {
  background-color: #96354b;
  color: #e4e3e3;
}

.dark-mode nav {
  background-color: #030f19;
}

.dark-mode .nav_links > li > a {
  color: #e4e3e3;
}

.dark-mode .box-text {
  background: linear-gradient(45deg, rgba(194, 212, 224, 1), rgb(185, 203, 215));
}

.dark-mode .box-text > h3 {
  color: #010520;
}

.dark-mode .saibamais-button {
  background-color: #96354b;
}

.dark-mode .container {
  background-color: #07131c;
  color: #e4e3e3;
}

.dark-mode .form {
  background-color: #182a3b;
}

.dark-mode .title {
  color: #e4e3e3;
}

.dark-mode .gender-title h3 {
  color: #4f697e;
}
